<div class="page-width">
  {% if section.settings.heading != "blank" %}
    <h2 class="heading{{section.id}}">{{ section.settings.heading }}</h2>
  {% endif %}
  {% if section.settings.sub_heading != "blank" %}
    <h3 class="sub_heading{{section.id}}">{{ section.settings.sub_heading }}</h3>
  {% endif %}
</div>

<style>
  @media screen(min-width:769px) {
    .heading{{ section.id}}{
      font-size: 80px;
      font-family: Roboto;
      text-align: center;
    }
    .sub_heading{{ section.id}}{
      font-size: 80px;
      font-family: Roboto;
      text-align: center;

    }
  }
  @media screen(max-width:769px) {
    .heading{{ section.id}}{
      font-size: 32px;
      font-family: Roboto;
      text-align: center;

    }
    .sub_heading{{ section.id}}{
      font-size: 32px;
      text-align: center;
      font-family: Roboto;
    }
  }
</style>

{% schema %}
  {
    "name": "Collection list",
    "class": "collection_list",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "collections_desktop",
        "label": "Collections per row (desktop)",
        "default": 3,
        "min": 2,
        "max": 5
      }, {
        "type": "radio",
        "id": "collections_mobile",
        "label": "Collections per row (mobile)",
        "options": [
          {
            "value": "1",
            "label": "1"
          }, {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "1"
      }, {
        "type": "header",
        "content": "COLOR SCHEME"
      }, {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
          {
            "value": "general",
            "label": "General"
          }, {
            "value": "accent1",
            "label": "Accent 1"
          }, {
            "value": "accent2",
            "label": "Accent 2"
          }, {
            "value": "accent3",
            "label": "Accent 3"
          }
        ],
        "default": "general"
      }, {
        "type": "header",
        "content": "THEME SETTINGS"
      }, {
        "type": "checkbox",
        "id": "enable_animations",
        "label": "Enable animations",
        "info": "Show fade in animations",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "Collection",
        "type": "collection-item",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "label": "Heading",
            "default": "Collection name",
            "id": "heading"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text Position",
            "options": [
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-center",
                "label": "Top Center"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }, {
                "value": "bottom-left",
                "label": "Bottom Left"
              }, {
                "value": "bottom-center",
                "label": "Bottom Center"
              }, {
                "value": "bottom-right",
                "label": "Bottom Right"
              }
            ],
            "default": "bottom-left"
          },
          {
            "type": "text",
            "label": "Button label",
            "default": "Shop now",
            "id": "button_label"
          }, {
            "type": "radio",
            "id": "button_style",
            "label": "Button style",
            "options": [
              {
                "value": "filled",
                "label": "Filled"
              }, {
                "value": "outline",
                "label": "Outline"
              }
            ],
            "default": "filled"
          }, {
            "type": "header",
            "content": "COLOR SCHEME"
          }, {
            "type": "select",
            "id": "textoverlay_color_scheme",
            "label": "Text overlay color scheme",
            "options": [
              {
                "value": "general",
                "label": "General"
              }, {
                "value": "accent1",
                "label": "Accent 1"
              }, {
                "value": "accent2",
                "label": "Accent 2"
              }, {
                "value": "accent3",
                "label": "Accent 3"
              }
            ],
            "default": "accent1"
          }, {
            "type": "select",
            "id": "overlay_color_scheme",
            "label": "Overlay color scheme",
            "options": [
              {
                "value": "light",
                "label": "Light"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default": "dark"
          }, {
            "type": "range",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "default": 30
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list"
      }
    ]
  }
{% endschema %}