<div
  class="flex flex-column flex-column align-center justify-center ns__{{section.id}} {{section.settings.ns_color_scheme}} {{section.settings.ns_alignment}}">
  <div
    class="text-color{{section.id}}">
    <h3
      class="mb-15">{{ section.settings.ns_sub_heading }}</h3>
    <h2
      class="mb-20">{{ section.settings.ns_heading }}</h2>
    <form>
      <div
        class="flex align-center mb-20 justify-center">
        <input
          type="email">
        <button
          class="button btn{{section.id}}"
          type="submit">Subscribe</button>
      </div>
    </form>
  </div>
</div>

{% style %}

  .ns__{{ section.id}}{
    text-transform: uppercase;
    height: 434px;
    width: 100vw;
    color: #FFFFFF;
    padding: 15%;

  }
  input {
    min-height: 4.8rem;
    padding: 0 3rem;

  }
{% endstyle %}

{% schema %}
  {
    "name": "Newsletter",
    "class": "newsletter",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "ns_sub_heading",
        "label": "Subheading",
        "default": "Signup now"
      },
      {
        "type": "text",
        "id": "ns_heading",
        "label": "Heading",
        "default": "Get the newsletter"
      },
      {
        "type": "select",
        "id": "ns_alignment",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "ns_section_width",
        "label": "Section width",
        "info": "These changes may only be visible on larger screens",
        "options": [
          {
            "value": "full-width-with-padding",
            "label": "Full width with padding"
          }, {
            "value": "narrow",
            "label": "Narrow"
          }
        ],
        "default": "full-width-with-padding"
      }, {
        "type": "header",
        "content": "COLOR SCHEME"
      }, {
        "type": "select",
        "id": "ns_color_scheme",
        "label": "Color scheme",
        "options": [
          {
            "value": "general",
            "label": "General"
          }, {
            "value": "accent1",
            "label": "Accent 1"
          }, {
            "value": "accent2",
            "label": "Accent 2"
          }, {
            "value": "accent3",
            "label": "Accent 3"
          }
        ],
        "default": "accent2"
      }
    ],
    "presets": [
      {
        "name": "Newsletter"
      }
    ]
  }
{% endschema %}